.home-container{
    display: flex;
    .left{
        display: flex;
        flex-direction: column;
        width: 520px;
        .days-selection-container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100px;
            margin: 0 auto;
            @media (min-width:426px) and (max-width:768px) {
                height: 120px;
            }
            @media (max-width:425px) {
                height: 150px;
            }
        }
        @media (max-width:768px) {
            width: 90%;
        }
    }
    .right{
        position: fixed;
        left: 550px;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        &-img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .right-content{
            position: absolute;
            z-index: 1;
            width: 100%;
            bottom: 0;
            right: 0px;
            font-size: 22px;
            box-shadow: 20px 20px 50px 15px grey;
            background-color: rgb(20, 22, 22);
            animation-name: slide-left;
            animation-duration: 2.2s;
            &-wrapper{
                padding: 15px;
                color: rgb(197, 186, 186);
                display: flex;
                justify-content: space-between;
                .data{
                    .right-content-name , .right-content-price{
                        display: flex;
                        padding: 5px;
                        font-weight: 400;
                        
                        .value{
                            font-weight: bold;
                            padding: 0px 5px;
                        }
                    }
                }
                .arrow-container{
                    margin: 20px;
                    width: 50px;
                    height: auto;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        @media (max-width:768px) {
            display: none;
        }
    }
    @media (max-width:768px) {
         justify-content: center;
         width: 100%;
        // align-items: center;
    }
}
body{
    font-family: 'Work Sans', sans-serif;
}

.round{
    border-radius: 34px;
    &:before{
        border-radius: 50%;
    }
}

.hide{
    display: none;
}
.up-arrow{
    font-size: 20px;
    margin-top: 0px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    color:  #4aa751;
    animation: side-up-arrow 1.5s infinite;
}

.right-og-price{
    text-decoration: line-through;
    color: rgb(90, 86, 86);
    padding: 0 2px;
    padding-top: 1px;
}

.hide-scroll {
    position: inherit;
    overflow-y: hidden;
}

@keyframes side-up-arrow{
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
}

@keyframes slide-left {
    0%  {left:500px};
    75%  {left:0px;};
}