.home-container{
    display: flex;
    .left{
        display: flex;
        flex-direction: column;
        width: 520px;
        .days-selection-container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100px;
            margin: 0 auto;
            padding: 15px;
            @media (min-width:426px) and (max-width:768px) {
                height: 120px;
            }
            @media (max-width:425px) {
                height: 150px;
            }
        }
        .switch-container{
            display: flex;
            justify-content: flex-end;
            .switch{
                position: relative;
                display: inline-block;
                width: 45px;
                height: 22px;
                &-input{
                    opacity: 0;
                    width: 0;
                    height: 0;
                    &:checked + .slider {
                        background-color: rgb(74, 167, 81);
                    } 
                    &:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                    }
                    &:checked + .slider:before {
                        -webkit-transform: translateX(20px);
                        -ms-transform: translateX(20px);
                        transform: translateX(20px);
                    }
                }
                .slider{
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                    &:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        left: 4px;
                        bottom: 3px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                }
            }
            .switch-txt{
                padding-left: 12px;
                padding-top: 2px;
                font-weight: 500;
                font-size: 14px;
                color: rgb(0, 0, 0);
                font-family: inherit;
            }
        }
        @media (max-width:768px) {
            width: 90%;
        }
    }
    .right{
        position: fixed;
        left: 550px;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        &-img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .right-content{
            position: absolute;
            z-index: 1;
            width: 100%;
            bottom: 0;
            right: 0px;
            font-size: 22px;
            box-shadow: 20px 20px 50px 15px grey;
            background-color: rgb(20, 22, 22);
            animation-name: slide-left;
            animation-duration: 2.2s;
            &-wrapper{
                padding: 15px;
                color: rgb(197, 186, 186);
                display: flex;
                justify-content: space-between;
                .data{
                    .right-content-name , .right-content-price{
                        display: flex;
                        padding: 5px;
                        font-weight: 400;
                        
                        .value{
                            font-weight: bold;
                            padding: 0px 5px;
                        }
                    }
                }
                .arrow-container{
                    margin: 20px;
                    width: 50px;
                    height: auto;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        @media (max-width:768px) {
            display: none;
        }
    }
    @media (max-width:768px) {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
body{
    font-family: 'Work Sans', sans-serif;
}

.round{
    border-radius: 34px;
    &:before{
        border-radius: 50%;
    }
}

.hide{
    display: none;
}
.up-arrow{
    font-size: 20px;
    margin-top: 0px;
    
    padding: 8px;
    border-radius: 5px;
    color:  #4aa751;
    animation: side-up-arrow 1.5s infinite;
}

.right-og-price{
    text-decoration: line-through;
    color: rgb(90, 86, 86);
    padding: 0 2px;
    padding-top: 1px;
}

.hide-scroll {
    position: inherit;
    overflow-y: hidden;
}

@keyframes side-up-arrow{
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
}

@keyframes slide-left {
    0%  {left:500px};
    75%  {left:0px;};
}