.dish-item-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(168, 161, 161);
  .dish-item {
    display: flex;
    flex-direction: column;
    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #212529;
      padding-bottom: 12px;
      padding-right: 10px;
      @media (max-width: 768px) {
        font-size: 20px;
        text-align: center;
      }
    }
    &-price-wrapper {
      display: flex;
      flex-direction: row;
      .dish-item-price {
        font-size: 26px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #000000;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      .dish-item-ogprice {
        padding-left: 8px;
        color: #bdbdbd;
        text-decoration: line-through;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.02em;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      @media (max-width: 768px) {
        justify-content: center;
      }
    }
    &-btn-wrapper {
      padding-top: 15px;
      .dish-item-btn {
        display: block;
        border: 1.8px solid #4aa751;
        color: #4aa751;
        font-family: "Work Sans", sans-serif;
        font-weight: 700;
        padding: 10px 35px;
        background: white;
        outline: none;
        font-size: 22px;
        left: 0;
        cursor: pointer;
        &.active{
          background-color: #4aa751;
          color: white;
        }
        @media (max-width: 768px) {
          width: 100%;
          padding: 7px 35px;
          font-size: 18px;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
