.dish-item-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(168, 161, 161);
  .dish-item {
    display: flex;
    flex-direction: column;
    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #212529;
      padding-bottom: 12px;
      padding-right: 10px;
    }
    &-price-wrapper {
      display: flex;
      flex-direction: row;
      .dish-item-price {
        font-size: 26px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #000000;
      }
      .dish-item-ogprice {
        padding-left: 8px;
        color: #bdbdbd;
        text-decoration: line-through;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.02em;
      }
    }
    &-btn-wrapper {
      padding-top: 15px;
      .dish-item-btn {
        content: "";
        display: block;
        border: 1.8px solid #4aa751;
        color: #4aa751;
        font-family: "Work Sans", sans-serif;
        font-weight: 700;
        padding: 10px 35px;
        background: white;
        font-size: 22px;
        left: 0;
      }
    }
  }
}
