.no-bowls{
    background-color: #fafafa;
    border-color: #f7f7f7;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-family: "Work Sans", sans-serif;
    color: #000 !important;
    &-img{
        max-width: 100%;
        height: auto;
    }
    &-txt{
        font-size: 1.375rem;
        padding: 0 10px; 
        line-height: 1.428;
        margin-top: 0.5rem !important;
        margin-bottom: 1rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    &-details{
        text-decoration: none;
        color: inherit;
        &:hover{
            color: #4aa751;
            text-decoration: underline;
        }
    }
}